.middle {
    background-color: gold;
    padding: 1em;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
body {
    background-color: magenta;
    display: flex;
}
* {
    border: 3px black dotted;
}
.top {
    margin: 1em;
    padding: 1em;
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
}
img {
    max-width: 200px;
}
.inner {
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
    justify-content: space-evenly;
    /* padding: 3em; */
    height: 500px;
    
}
/* .inner img {
    margin: 3em;
} */